@font-face{
    font-family: Distantgalaxy;
    src: url(SfDistantGalaxyAltoutline-e2Bp.ttf)
}
@font-face{
    font-family: Starjedi;
    src: url(Starjedi.ttf)
}
@font-face{
    font-family: Poppins-Black;
    src: url(Poppins-Black.ttf)
}
@font-face{
    font-family: Poppins-Bold;
    src: url(Poppins-Bold.ttf)
}
@font-face{
    font-family: Poppins-ExtraBold;
    src: url(Poppins-ExtraBold.ttf)
}
@font-face{
    font-family: Poppins-Medium;
    src: url(Poppins-Medium.ttf)
}
@font-face{
    font-family: Poppins-Regular;
    src: url(Poppins-Regular.ttf)
}

*{
    margin: 0;
    padding: 0;
}

/* Login Page */

.login-page{
    background-image: url(../images/bg_1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.login-form-container {
    color: white;
    text-align: center;
    padding-top: 10.7rem;
}

.login-small-title {
    font-family: Starjedi;
    font-size: 30px;
    user-select: none;
}

.login-big-title {
    font-family: Distantgalaxy;
    font-size: 70px;
    padding-top: 2rem;
    user-select: none;
}

.login-form {
    padding-top: 5rem;
}

.login-form label {
    font-family: Poppins-Bold;
    font-size: 14px;
    line-height: 2rem;
    user-select: none;
}

.login-form input {
    font-family: Poppins-Regular;
    font-size: 16px;
    border-radius: 5px;
    width: 27%;
    height: 45px;
    border: none;
    text-align: center;
    margin-bottom: 1rem;
}

.login-form button {
    font-family: Poppins-Bold;
    font-size: 16px;
    margin-top: 1.3rem;
    width: 17%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #F7B500;
    cursor: pointer;
}


/* Character Selection Page */

.character-selection-page{
    background-image: url(../images/bg_2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color:white;
}

.powers-container {
    display: flex;
    height: 50%;
    user-select: none;
    padding: 1rem 0 2rem;
}

.powers-container > div > p:first-child {
    color: #F7B500;
    font-family: Poppins-Bold;
    font-size: 16px;
}

.powers-container > p:last-child {
    color: #fff;
    font-family: Poppins-Black;
    font-size: 20px;
}

.rectangle {
    border: 8px solid #fff;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    user-select: none;
}

.star {
    background-color: #F7B500;
    text-align: center;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    user-select: none;
}

.star > img {
    margin-top: 15%;
}

.name {
    color: #fff;
    font-family: Starjedi;
    font-size: 90px;
    line-height: 6rem;
    user-select: none;
    padding-bottom: 1rem;
    position: relative;
    display: flex;
}

.description {
    color: #fff;
    font-family: Poppins-Regular;
    font-size: 16px;
}

.character-image {
    max-width: 40%;
    margin-top: -1.5rem;
    position: absolute;
    user-select: none; 
}

.background-circle {
    position: absolute;
    background-color: #F7B500;
    height: 26rem;
    width: 26rem;
    border-radius: 100%;
    margin-left: 10%;
    margin-top: 5%;
}

.slider {
    padding: 5% 10% 0;
    display: grid;
    flex-grow: 1;
    grid-template-columns: 50% 50%;
}

.slider > article:last-child {
    width: 90%;
    padding-left: 10%;
}

.slider > .details-article > .details-container {
    display: grid;
    grid-template-columns: 40% 40%;
    margin-right: 10%;
}

.slider > article > .navigation-container {
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

.arrow {
    display: flex;
    justify-content: space-evenly;
    user-select: none;
    z-index: 1;
}

.arrow img {
    cursor: pointer;
}

.next-arrow {
    transform:rotate(180deg);
}

.navigation-dots {
    margin-top: 0.9rem;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.navigation-dots > div {
    transform: scale(0.7);
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: #8A8A8A;
    cursor: pointer;
    user-select: none;
}

.navigation-dots > div.active {
    border: 1px solid white;
    border-radius: 100%;
    color: #fff;
}

/* Header */

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    font-family: Poppins-Bold;
    font-size: 16px;
    user-select: none;
}

.header:before {
    content : "";
    position: absolute;
    left    : 10%;
    bottom  : 0;
    height  : 1px;
    width   : 80%;
    border-bottom:1px solid white;
}

.header img {
    padding: 0 10px 0 
}

.user {
    margin-left: 9%;
}

.logout {
    margin-right: 9%;
    cursor: pointer;
}

/* Moduls styles */

.moduls-container {
    padding: 2rem 10% 0;
}

.moduls-container > span {
    font-family: Poppins-Black;
    font-size: 24px;
}

.simulation-container {
    margin-top: 1rem;
    display: flex;
    width: 45%;
}

.simulation-container > span {
    font-family: Poppins-Bold;
    font-size: 18px;
}

.simulation-container > div {
    font-family: Poppins-Regular;
    font-size: 16px;
    padding-left: 1rem;
}

.button {
    font-family: Poppins-Bold;
    font-size: 16px;
    margin: 1rem 1rem 0 0;
    height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.select-button {
    border: 3px solid #F7B500;
    color: #fff;
    background-color: transparent;
    width: 50%;
    transition: .3s;
}

.select-button.active {
    color: #000;
    background-color: #F7B500;
}

.fight-button {
    background-color: #F7B500;
    width: 40%;
}

/* Fight Page */

.fight-page {
    background-image: url(../images/bg_3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color:white;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.light-side{
    border: 1px solid white;
}

.dark-side{
    border: 1px solid white;
}

.dark-side > div {
    height: 18rem;
    width: 18rem;
    background-color: #333333;
    border-radius: 100%;
    margin: 25% auto;
}

.light-side > div {
    height: 18rem;
    width: 18rem;
    background-color: #fff;
    border-radius: 100%;
    margin: 25% auto;
}

.versus{
    font-family: DistantGalaxy;
    font-size: 150px;
    margin: auto;
    text-align: center;
}

.fighting-character-image {
    width: 140%;
    margin-top: -20%;
}

.dark-character-image {
    transform: rotateY(180deg);
}

.light-character-image {
    margin-left: -40%
}

.hp-bar{
    display: flex;
    width: 65%;
    height: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}

.dark-side > .hp-bar > span {
    display: flex;
    width: 50%;
    height: 20px;
    background-color: green;
    border-radius: 5px;
}

.light-side > .hp-bar > span {
    display: flex;
    width: 50%;
    height: 20px;
    margin-left: auto;
    background-color: green;
    border-radius: 5px;
}